# Site settings
title: Kabir's AI to Bio Lab (A2B) @USF
email: akabir4@gmu.edu
description: Kabir's AI for Bio Lab
baseurl: ""
url: ""

# Google analytics ID: Uncomment and your own, if you like
# google_analytics: XX
# google_analytics_4: XXX
# google_tag_manager: XXX

# Footer info
affiliation: >
  Anowarul Kabir, Ph.D.<br/>
  Assistant Professor of Computer Science<br/>
  University of South Florida, FL, USA<br/>
  <a href="mailto:akabir@usf.edu" target="_blank"><i class="fa fa-envelope fa-1x"></i> Email: akabir@usf.edu</a>

location: >
  University of South Florida<br/>
  4202 East Fowler Ave<br/>
  Engineering Building II (ENB) #327<br/>
  Tampa, Florida 33620

# contact: >
  

# Pages shown in navbar
nav_pages:
  - name: teaching
  - name: research
  - name: collaboration
  - name: publications
  - name: services
  - name: about
  # - name: talks
  # - name: software
  # - name: team
  # - name: blogs

include:
  - .htaccess
  - _pages

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links

plugins: ["jekyll/scholar"]

scholar:
  last_name: Kabir
  first_name: [Anowarul]

  style: citesty
  locale: en

  source: /assets/
  bibliography: ref.bib
  bibliography_template: bibtemplate
  sort_by: year, month
  order: descending

  replace_strings: true
  join_strings: true

  details_dir: bibliography
  details_layout: bibtex.html
  details_link: Details

  query: "@*"

  bibliography_list_attributes:
    reversed: "reversed"

exclude:
  - Gemfile
  - Gemfile.lock
  - update_boostrap.sh
  - switch_theme.sh
  - tags
  - Rakefile
