<br/>
<section id="footer">
<div style="background-color: #006747;font-weight: bold; color:#fff">
  <div class="panel-footer">
	  <div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-4">
		    <h5 style="font-size: 20px">About</h5>	
            <p>{{ site.affiliation }}</p>
			<p>{{ site.contact }}</p>
		</div>

		<div class="col-sm-4">
		    <h5 style="font-size: 20px">Office Location</h5>	
            <p>{{ site.location }}</p>
		</div>
		<div class="col-sm-2"></div>
	  </div>

      <center><p>&copy {{ "now" | date: "%Y" }} {{site.title | escape }} </p></center>
	</div>
  </div>
</div>

<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
